<% if @owner == current_user %>
  <div id="share-link">
    <p><a href="mailto: ?subject=Check out my wishlist!&body=Check out my wishlist!%0A%0Ahttp://w1shlist.herokuapp.com/<%= @owner.uid %>" target=_blank>Share this wishlist!</a></p>
  </div>
<% end %>

<h2>for<br><%= @owner.name %></h1>
<div id="shared-container">

<% @items.each do |item| %>
<div class="item-wrapper">
  <div class="item">
    <img src="<%= item.image_url %>" width="200px">
    <span class="text-content"><span class="title"><a href="<%= item.url %>"><%= item.title %></a></span><span class="date">Wished for on <%= item.created_at.to_s[5..10].split("-").join("/") + "/" + item.created_at.to_s[0..3] %></span></span>
  </div>
</div>
<% end %>

</div>

<script type="text/javascript">
  var container = document.querySelector('#shared-container');
imagesLoaded( container, function() {
  masonry = new Masonry(container, {
    // "columnWidth":280,
    "itemSelector":'.item-wrapper',
    "isFitWidth":true
  });
});
</script>
