<!DOCTYPE html>
<html>
<head>
  <title>Wishlist</title>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
  <meta name="google-site-verification" content="z9YScH4wdPzDjAg2M0z1O1ZSdHRKU7wcnPwQl_jmNSU" />
</head>
<body>
  <p id="extension"><span class="hide">&#x2715;</span> Download our <a href="https://chrome.google.com/webstore/detail/lopficaepgghcelaeifkmgpcfhfdlkik/" target=_blank>Chrome Extension</a> to add items on the go!</p>
  <h1><%= image_tag "wishlist.jpg" %></h1>

  <%= yield %>

  </div><!-- container -->
<%= javascript_include_tag 'application' %>
</body>
</html>
